$white: #ffffff;
$black: #000000;
$dark: #2A333D;
$blue: #007BFF;
$blue-light: #00C8FF;
$light-gray: #C9D3DA;
$gray: #495057;
$gray-hover: #27333E;
$gray-active: #27333E;
$gray-icon-hover: #9BA6AD;
$accent: #FF0050;
$accent-hover: #B40743;
$accent-active: #7B0E30;
$text-light: #000000;
$text-dark: #FFFFFF;
$main-bg: #061626;
$circle: #22303D;
$card-bg: #D8D8D8;
$card-bg-small: #508BFC;
$border-bottom: #25323F;
$border-white-them: #E1E4E6;
$border-dark-them: #3E4853;

// other
$transition: .3s ease;

// fonts
$p-reg: 'ProximaNovaRegular',
sans-serif;
$p-bold: 'ProximaNovaBold',
sans-serif;
$p-light: 'ProximaNovaLight',
sans-serif;
