.btn {
	display: inline-block;
	padding: .8em 2em;
	line-height: 1;
	text-align: center;
	border: 0;
	margin: 0;
	overflow: visible;
	vertical-align: middle;
	transition: $transition;
	border-radius: 0;
	font: inherit;
	font-size: inherit;
	text-transform: uppercase;
	outline: none;
	text-decoration: none;
	transition-property: color, background-color, border-color;
	border-radius: 5px;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}


	&--accent {
		background-color: $accent;
		color: $white;
		border: 0;
		font-size: 18px;
		padding: 10.8px 38px;
		text-transform: none;

		&:focus,
		&:hover {
			background-color: $accent-hover;
		}

		&:active {
			background-color: $accent-active;
		}
	}

	&--search {
		padding: 0;

		svg {
			width: 28px;
			height: 28px;
			fill: $gray;
			transition: $transition;

			&:hover,
			&:focus {
				fill: $gray-icon-hover;
			}
		}
	}

	&--default {
		background-color: transparent;
		color: #222;
		border: 1px solid #e5e5e5;

		&:focus,
		&:hover {
			border: 1px solid darken(#e5e5e5, 15%);
		}

		&:active {
			border: 1px solid darken(#e5e5e5, 25%);
		}
	}

	&--primary {
		background-color: #1e87f0;
		color: #fff;
		border: 1px solid transparent;

		&:focus,
		&:hover {
			background-color: darken(#1e87f0, 15%);
		}

		&:active {
			background-color: darken(#1e87f0, 20%);
		}
	}

	&--secondary {
		background-color: #222;
		color: #fff;
		border: 1px solid transparent;

		&:focus,
		&:hover {
			background-color: darken(#222, 15%);
		}

		&:active {
			background-color: darken(#222, 20%);
		}
	}

	&--danger {
		background-color: #f0506e;
		color: #fff;
		border: 1px solid transparent;

		&:focus,
		&:hover {
			background-color: darken(#f0506e, 15%);
		}

		&:active {
			background-color: darken(#f0506e, 20%);
		}
	}
}
