section.s-section.section-hero
	.container
		.hero
			.date.hero__date
				.hero-date__number 6
				.hero-date__text мин
			.hero__body
				a(href="#").tag.hero__tag #Обновления
				a(href="#").hero__link
					h2.hero__title Добавлена проверка на повторение слов в атрибутах файла
				.autor.hero__autor
					span.autor__date 5 месяцев назад
					span.autor__name Жека Галкин
