.nav {
	font-family: $p-bold;
	pointer-events: auto;

	@include media-lg {
		display: none;
		pointer-events: none;
		opacity: 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item:not(:last-child) {
		margin-right: 20px;

		@include media-lg {
			margin-right: 10px;
		}
	}

	&__item {
		@include media-lg {
			margin-bottom: 23px;
		}
	}

	&__link {
		padding: 9px 16px;
		color: $white;
		background-color: $gray;
		font-size: 18px;
		transition: $transition;

		&:hover,
		&:focus {
			background-color: $gray-hover;
		}

		&:active {
			background-color: $gray-active;
		}
	}
}
