nav.nav
	ul.nav__list
		li.nav__item
			a(href="#").nav__link #Обновления
		li.nav__item
			a(href="#").nav__link #Экспертное_мнение
		li.nav__item
			a(href="#").nav__link #Обучение
		li.nav__item
			a(href="#").nav__link #Тренды
		li.nav__item
			a(href="#").nav__link #SMM
