.hamburger {
	position: relative;
	display: none;
	z-index: 100;
	width: 34px;
	height: 23px;
	cursor: pointer;
	transition: $transition;


	@include media-lg {
		display: flex;
		margin-right: auto;
	}

	&:hover,
	&:focus {
		.hamburger__span {
			background-color: $gray-icon-hover;
		}
	}

	&__span {
		position: absolute;
		width: inherit;
		height: 1px;
		margin-top: 10px;
		background-color: $gray;
		transform: translateX(0) translateY(0) rotate(0);
		transition: $transition;
		opacity: 1;

		&:nth-child(1) {
			top: -7px;
			width: 34px;
			background-color: $gray;
		}

		&:nth-child(2) {
			width: 34px;
			background-color: $gray;
		}

		&:nth-child(3) {
			top: 7px;
			width: 34px;
			background-color: $gray;
		}
	}

	&--open {

		&:hover,
		&:focus {
			& .hamburger__span {

				&:nth-child(1),
				&:nth-child(3) {
					background-color: $gray-icon-hover;
				}

				&:nth-child(2) {
					background-color: transparent;
				}


			}
		}

		& .hamburger__span {
			background-color: transparent;
			transition: $transition;


			&:nth-child(1),
			&:nth-child(3) {
				background-color: $gray;
			}

			&:nth-child(1) {
				width: 100%;
				transform: translateX(0) translateY(8px) rotate(45deg) !important;
			}

			&:nth-child(3) {
				width: 100%;
				transform: translateX(0) translateY(-6px) rotate(-45deg) !important;
			}

		}
	}
}
