.m-menu {
	display: none;
	pointer-events: none;
	opacity: 0;

	& .container {
		padding: 0;
	}

	& .row {
		&>*:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	& .coll-4 {

		@include media-md {
			flex-basis: 50%;
			max-width: 50%;
		}

		@include media-sm {
			flex-basis: 100%;
			max-width: 100%;
		}
	}

	& .header__switch-dark-mode,
	& .hamburger {
		display: block;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px;
	}

	&__social {
		justify-content: center;
		display: flex;
		padding: 37px 0;
		display: none;
		opacity: 0;
		pointer-events: none;
	}

	&__social-item {
		margin-right: 37px;
	}

	&__social-item:last-child {
		margin-right: 0;
	}

	&.open {
		position: fixed;
		pointer-events: auto;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: red;
		z-index: 99;
		padding: 0 20px;
		opacity: 1;
		background-color: $main-bg;
		animation-name: show;
		animation-duration: .5s;


		overflow-y: scroll;
		overflow-x: hidden;

	}

	&__content {
		padding-bottom: 20px;
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__nav {
		.nav {
			pointer-events: auto;
		}
	}

	&__form {
		z-index: 100;

		width: 100%;
		display: block;

		form {
			position: relative;
		}
	}

	&__form-btn {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		display: flex;
		align-items: center;
		padding: .8em 13px;

		&:hover,
		&:focus {
			svg {
				fill: $gray-icon-hover;
			}
		}

		svg {
			width: 28px;
			height: 28px;
			fill: $gray;
			transition: $transition;
		}

	}

	&__input {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 50px;
		margin-bottom: 0 !important;
	}

	&__form {
		display: block;
		opacity: 1;
	}

	&__request-passed {
		display: none;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: $transition;
		animation-name: hide;
		animation-duration: 1s;

		&>*:not(:last-child) {
			margin-bottom: 20px;
		}


		&:last-child {
			margin-bottom: 0;
		}
	}

	&__passed-title {
		font-size: 24px;
		line-height: 26px;
		font-family: $p-bold;
		color: $white;
		margin-top: 21px;
		margin-bottom: 30px !important;
		text-align: center;

		@include media-sm {
			text-align-last: left;
		}

		span {
			display: block;
		}
	}

	&__request-error {
		display: none;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: $transition;
		animation-name: hide;
		animation-duration: 1s;
	}

	.request-error__text {
		font-size: 24px;
		line-height: 26px;
		max-width: 280px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		display: block;
	}

	.request-error__img {
		margin-right: 0;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	.request-error__icon {
		width: 230px;
		height: 230px;
		fill: #495057;
	}

	.request-error__body {
		flex-direction: column;
		margin-top: 50px;
	}

}


.m-menu__nav .nav {
	display: flex;
	opacity: 1;
	justify-content: center;
}


.m-menu {
	&.passed {
		.card:last-child {
			margin-bottom: 0;
		}

		& .m-menu__content {
			display: block;
		}

		& .m-menu__nav,
		& .m-menu__form {
			display: none;
			opacity: 0;
			animation-name: hide;
			animation-duration: 1s;
		}

		& .m-menu__social {
			opacity: 1;
			visibility: visible;
			display: flex;
		}

		& .request-passed {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			animation-name: show;
			animation-duration: 1s;
			display: block;
		}
	}

	&.error {

		& .m-menu__content {
			padding-bottom: 27px;
			display: block;
		}

		& .m-menu__social {
			opacity: 1;
			visibility: visible;
			display: flex;
		}

		& .m-menu__nav {
			display: none;
			opacity: 0;
			animation-name: hide;
			animation-duration: 1s;
		}

		& .request-error {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
			display: block;
			animation-name: show;
			animation-duration: 1s;
		}

		& .m-menu__form {
			position: relative;
			bottom: 0px;
			margin-bottom: 14px;
		}
	}
}

.request-error__text-1 {
	margin-bottom: 30px;
}

.request-error__text-2 {
	font-size: 18px;
	line-height: 22px;
	color: #C9D3DA;
	margin-bottom: 18px;
}
