article.article
	.article__head
		h2.article__title Добавлена проверка на повторение слов в атрибутах файла
	.article__body
		.row.jc-sb.article__line-1
			.article__coll__img
				.article__img
					+img('img/article/1','480','600','article','data:image/gif;base64,R0lGODlhBAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAEAAUAAAIEjI+ZBQA7')
				<svg class="article__img-decor" width="585" height="643" viewBox="0 0 585 643" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M331.924 93.1614C111.831 -78.5126 5.48261 15.7925 -50.703 162.338C-106.889 308.883 -46.8383 531.026 122.662 612.78C292.161 694.534 518.144 594.802 574.33 448.257C630.515 301.712 440.022 177.479 331.924 93.1614Z"/>
				</svg>

			.article__coll-text
				p Каждый пятый россиянин слушает подкасты — такие результаты получил ВЦИОМ (Всероссийский центр изучения общественного мнения) в ходе исследования. В рамках работы ученые пытались выяснить медиапотребления в аудиоформате в России.
				p Что же такое подкасты? Подкасты — это это оригинальные авторские аудиозаписи в виде бесед, лекций, выступлений, а также иногда записи теле- или радиопередач. ВКонтакте и Facebook — это те соцсети, в которых представлено наибольшее количество подкастов.
		.article__info
			.article__info-title
				h3.h3.article__title--h3 Теперь поговорим о результатах исследования ВЦИОМ немного подробнее:
			.row.article__line-2
				.article__info-coll
					p 55% россиян слушают радио. Большая часть аудитории радиовещания – россияне в возрасте 35 – 44 лет, 66% из них слушают радио регулярно.
				.article__info-coll
					p 45% россиян не слушают радио. Чаще всего это 18–24- летние (51%) и граждане старше 60 лет (55%).
				.article__info-coll
					p 61% россиян никогда не слышали о таком формате, как подкасты.
				.article__info-coll
					p Те слушатели, которые знают о подкастах, ассоциируют данный формат с аудиозаписью, эфиром (3%) или с обсуждением какой-то темы (2%).
				.article__info-coll
					p 19% россиян являются регулярными слушателями подкастов. Наиболее популярны подкасты у молодой аудитории: 18-24 лет и 25-34 лет (по 26%).
				.article__info-coll
					p Слушать подкасты россияне предпочитают дома (59%), в личном транспорте (37%), на улице, во время прогулки (22%) или в общественном транспорте (20%).
			.row.jc-sb.article__line-3
				.article__coll-text
					p Ранее команда Яндекс.Музыки провела собственное исследование, в рамках которого выяснила, что наиболее популярные темы подкастов у пользователей – технологии и IT, саморазвитие, кино, иностранные языки и лайфстайл.
					p Подкасты могут быть записаны на любую тему — бизнес, медицина, психология, педагогика, наука, криптовалюты и т.д. — и иметь успех у вашей аудитории, особенно, если спикеры будут абсолютными профессионалами в своей области. Удобство потребления аудиоконтента, возможность совмещать его с ежедневными делами – один из главных факторов успеха подкастов.
					p Слушание аудиоблогов становится атрибутом современного «продвинутого» потребления, тем более, что подкасты часто воспринимают как один из инструментов саморазвития. И закономерно, что популярность подкастов среди пользователей повышает и интерес к ним со стороны производителей контента.
				.article__coll__img
					.article__img
						+img('img/article/2','480','600','article','data:image/gif;base64,R0lGODlhBAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAEAAUAAAIEjI+ZBQA7')
					<svg class="article__img-decor2" width="680" height="740" viewBox="0 0 680 740" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M291.453 106.418C545.444 -91.6968 668.172 17.1328 733.011 186.248C797.85 355.364 728.551 611.721 532.945 706.066C337.34 800.411 76.5519 685.319 11.7129 516.204C-53.1261 347.088 166.706 203.722 291.453 106.418Z" />
					</svg>

	.article__footer
		.article__footer-text
			p А если вы уже с нами, то вы можете <a href="#" class="article__footer-link">получать рассылку Forstocker</a>: еженедельно мы присылаем нашим подписчиком только самые интересные авторские материалы об SMM, созданные специально для нашего сообщества.
