.card {
	margin-bottom: 20px;
	text-align: left;

	@include media-lg {
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__body {
		width: 100%;
	}

	&__img {
		position: relative;
		display: block;
		cursor: pointer;
		background-color: $card-bg;
		overflow: hidden;

		img {
			transform: scale(1);
			transition: transform .7s ease;
		}

		&:hover,
		&:focus {
			img {
				transform: scale(1.05);

			}
		}

		@include media-lg {
			height: 220px;
		}
	}

	&__img-svg {
		background-color: $accent;
		max-width: 160px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover,
		&:focus {
			svg {
				transform: scale(1.05);
			}
		}

		@include media-lg {
			max-width: 100%;
		}

		svg {
			width: 100%;
			height: auto;
			padding: 0 20px;
			fill: $white;
			transform: scale(1);
			transition: transform .7s ease;
		}
	}

	&__date {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include media-sm {
			padding-top: 3px;
		}

		&-number {
			font-family: $p-reg;
			line-height: 25px;
		}

		&-text {
			font-family: $p-reg;
			font-size: 14px;
			line-height: 9px;
			font-weight: 300;
		}

		&--br {
			bottom: 0;
			right: 0;
		}

		&--tr {
			top: 0;
			right: 0;
		}

		&--big {
			width: 54px;
			height: 54px;
			font-size: 30px;
		}

		&--small {
			width: 48px;
			height: 48px;
			font-size: 28px;
		}
	}

	&__tag {
		display: inline-block;
		color: $blue;
		margin-bottom: 9px;

		@include media-sm {
			margin-bottom: 8px;
		}
	}

	&__link {
		display: block;
		margin-bottom: 9px;
		transition: $transition;

		@include media-sm {
			margin-bottom: 10px;
		}
	}

	&__title {
		transition: $transition;


		&:hover {
			color: $blue;
			text-decoration: underline;
		}
	}

	&__text {
		font-size: 13px;
		line-height: 18px;
		max-width: 528px;
		width: 100%;
		margin-bottom: 17px;

		p {
			margin: 0;
		}
	}

	&__autor {
		font-size: 12px;
		line-height: 18px;
		margin-top: auto;

		&>*:not(:last-child) {
			margin-right: 3px;
			position: relative;

			// &:before {
			// 	position: absolute;
			// 	content: '/';
			// 	right: -6px;
			// }
		}
	}
}


.card-xl {
	.card__body {
		padding: 7px 90px 10px 30px;
	}
}


.card-md {
	.card__body {
		padding: 10px 20px 15px 20px;
		min-height: 160px;

		@include media-sm {
			padding: 22px 20px 19px 20px;
		}
	}
}

.card-small {
	display: flex;
	width: 100%;
	min-height: 180px;

	.card__img {
		flex-shrink: 0;
		min-width: 160px;
		// min-height: 160px;

		@include media-lg {
			flex-shrink: 1;
			min-height: auto;
		}
	}

	.card__link {
		max-width: 285px;

		@include media-lg {
			max-width: 100%;
		}
	}

	.card__body {
		padding: 7px 20px 15px 20px;
		flex-grow: 1;
	}
}

.card-small--long .card__body {
	padding: 14px 20px 15px 20px;
}

.card-small--long .card__tag {
	margin-bottom: 6px;
}

.card-long {
	display: flex;

	.card__img {
		flex-shrink: 0;
		min-width: 580px;

		@include media-lg {
			flex-shrink: 1;
		}
	}

	.card__body {
		padding: 17px 40px 14px 40px;
	}

	.card__link {
		margin-bottom: 14px;
	}
}

.w220 {
	max-width: 200px;
	width: 100%;

	@include media-lg {
		width: auto;
		max-width: 100%;
	}
}

.w160 {
	@include media-lg {
		width: auto;
	}
}

.block-1 {
	@include media-lg {
		flex-basis: 100%;
		max-width: 100%;
	}
}

.block-2 {

	@include media-lg {
		order: -1;
		flex-basis: 100%;
		max-width: 100%;

		.coll-12 {
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
			display: flex;
		}

		.card__img-svg {
			max-width: 100%;
		}
	}
}


.block-6 {
	@include media-lg {
		flex-basis: 100%;
		max-width: 100%;
	}
}

.block-7 {
	@include media-lg {
		flex-basis: 100%;
		max-width: 100%;

		.coll-12 {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}
