article.block-info
	.block-info__body
		.block-info__title Подписывайтесь на наш мегаблог
		.block-info__btn
			button.btn.btn--accent.subscribe-btn Подписаться
	.block-info__img1
		picture
			source(srcset="img/block-info/1.webp", type='image/webp')
			img.block-info( alt="Лого", src="img/block-info/1.png", height="323", width="314")
	.block-info__circle.block-info__circle2
	.block-info__circle.block-info__circle3
	.block-info__circle.block-info__circle4
