article.card.card-xl
	a(href="#").card__img
		+img('img/content/1','780','530','alt','data:image/gif;base64,R0lGODlhTgA1AIAAAP///wAAACH5BAEAAAEALAAAAABOADUAAAJFjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yud1UAADs=')
		.date.card__date.card__date--br.card__date--big
			.card__date-number 7
			.card__date-text мин
	.card__body
		a(href="#").tag.card__tag #Экспертное_мнение
		a(href="#").card__link
			h2.h2-xl.card__title Улучшена загрузка файлов в сервис через браузер
		.card__text
			p Это наш первый урок, на котором мы расскажем об основных инструментах сервиса, с чего начать работу и как создать первый пост.
		.autor.card__autor
			span.autor__date 3 месяца назад
			span.autor__name Галкин Жека
