.social
	ul.social__list
		li.social__item
			a(href="#").social__link
				+icon('vk', 'social__vk')
		li.social__item
			a(href="#").social__link
				+icon('facebook', 'social__facebook')
		li.social__item
			a(href="#").social__link
				+icon('telegram', 'social__telegram')
		li.social__item
			a(href="#").social__link
				+icon('instagram', 'social__instagram')
