.footer {
	border-top: 1px solid $border-bottom;
	padding: 30px 0;
	background-color: $main-bg;
	position: relative;

	@include media-sm {
		border-top: 0;
		padding: 28px 0 38px 0;
	}

	&__body,
	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media-lg {
			justify-content: center;
		}
	}

	&__block {
		@include media-lg {
			flex-direction: column;
		}
	}

	&__switch-dark-mode {
		@include media-lg {
			display: none;
		}
	}

	&__link {
		display: block;
		color: $gray-icon-hover;
		transition: $transition;
		font-size: 13px;
		line-height: 18px;
		margin-right: 23px;

		&:hover,
		&:focus {
			color: $blue;
			text-decoration: underline;
		}

		@include media-lg {
			display: none;
		}
	}

	&__social {
		transform: translateY(3px);

		& .social__item:last-child {
			margin-right: 8px;
		}
	}

	&__date {
		width: 64px;
		height: 64px;
		color: $accent;
		border: 1.18519px solid $gray-icon-hover;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px;
		transform: translateX(252%);

		@include media-lg {
			transform: translateX(0);
			margin-right: 40px;
			display: none;
		}
	}

	&-date__number {
		font-size: 35px;
		font-weight: 300;
		line-height: 31px;
	}

	&-date__text {
		font-size: 16px;
		line-height: 15px;
	}
}

.article-page .footer {
	padding: 13px 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	@include media-sm {
		position: relative;
	}
}

.article-page .footer__link {
	@include media-lg {
		display: block;
		margin-bottom: 15px;
	}
}
