block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(property='og:image', content='img/hero/mobile-img.jpg')
		// Chrome, Firefox OS and Opera
		meta(name='theme-color', content='#061626')
		// Windows Phone
		meta(name='msapplication-navbutton-color', content='#061626')
		// iOS Safari
		meta(name='apple-mobile-web-app-status-bar-style', content='#061626')
		link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
		link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
		link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
		link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
		link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
		link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
		link(rel="preload" as="font" href="fonts/ProximaNova-Regular.woff2" type="font/woff2" crossorigin)
		link(rel="preload" as="font" href="fonts/ProximaNova-Bold.woff2" type="font/woff2" crossorigin)
		link(rel="preload" as="font" href="fonts/ProximaNova-Light.woff2" type="font/woff2" crossorigin)
		link(rel="stylesheet" href="styles/main.css")
	body.them-light(class=name)
		header.header
			include  ../../blocks/modules/header/header.pug
		main.content
			if title == 'Главная'
				.main-bg.main-bg-main(style='background-image: url(img/hero/11.png);')
				.main-img-mobile
					+img('img/hero/mobile-img','690','375','alt','data:image/gif;base64,R0lGODlhLgAZAIAAAP///wAAACH5BAEAAAEALAAAAAAuABkAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyrBUAOw==')
				.circle.circle--blue.circle--md
				.circle.circle--blue.circle--md-2
				.circle.circle--accent.circle--small
				.circle.circle--accent.circle--small-2
			else
				.main-bg.main-bg-article(style='background-image: url(img/hero/11.png);')
				.main-img-mobile
					+img('img/hero/mobile-img','690','375','alt','data:image/gif;base64,R0lGODlhLgAZAIAAAP///wAAACH5BAEAAAEALAAAAAAuABkAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyrBUAOw==')
				.circle.circle--blue.circle--md
				.circle.circle--blue.circle--md-2.circle__article--md
				.circle.circle--accent.circle--md-2.circle__article--md-2
				.circle.circle--accent.circle--small
				.circle.circle--accent.circle--small-2.circle__article--small
				.circle.circle--blue.circle--small-2.circle__article--small-2
			block content
		footer.footer
			if title == 'article'
				.progress-container
					#progressBar.progress-bar
				.article-footer-line
					.date.hero__date.article-footer__date
						.hero-date__number 6
						.hero-date__text мин
			include  ../../blocks/modules/footer/footer.pug
		include  ../../blocks/components/modal/popup-subscribe.pug
		include  ../../blocks/components/modal/popup-search.pug
		include  ../../blocks/components/m-menu/m-menu.pug
		block scripts
